# Vercel URL ve Ortam değişkenleri
NEXT_PUBLIC_SITE_URL=https://dogahoteloludeniz.com
NEXT_PUBLIC_API_URL=https://dogahoteloludeniz.com/api
NEXT_PUBLIC_FRONTEND_URL=https://dogahoteloludeniz.com

# Vercel deployment sırasında otomatik olarak ayarlanacak
# VERCEL_URL=dogahoteloludeniz.com (Vercel tarafından otomatik ayarlanır)

# NextJS Cache ayarları
NEXT_CACHE_CONTROL=no-store, no-cache, must-revalidate, proxy-revalidate
NEXT_PRAGMA=no-cache
NEXT_EXPIRES=0

# Uygulama ayarları
NODE_ENV=production
